# Python
__pycache__/
*.py[cod]
*.so

# Environments
venv/
env/
.venv/

# Jupyter & system
.ipynb_checkpoints/
.DS_Store

# Model files
*.pt
*.pth
*.bin
*.safetensors

# Streamlit
.streamlit/

# VS Code
.vscode/
